@model CollegeWebsiteAdmin.Models.Colleges

<form asp-controller="Colleges" asp-action="MyOwnCreate" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CollegeName" class="control-label"></label>
        <input asp-for="CollegeName" class="form-control" />
        <span asp-validation-for="CollegeName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telephone" class="control-label"></label>
        <input asp-for="Telephone" class="form-control" />
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Website" class="control-label"></label>
        <input asp-for="Website" class="form-control" />
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UploadedPhoto" class="control-label"></label>
        <input type="file" class="form-control" name="c1.UploadedPhoto" />
        <span asp-validation-for="UploadedPhoto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
