@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    <div class="col-4">
        <h3>Teacher Form</h3>
        @{
            Teacher t1 = new Teacher();
            @Html.EditorFor(x=>t1)
        }
    </div>
    <div class="col-4" id="formToHide">
        <h3>College Form</h3>

        @{
            Colleges c1 = new Colleges();
            @Html.EditorFor(x=>c1)

        }
    </div>
    <div class="col-4">
        <h3>Subject Form</h3>

        @{
            Subject s1 = new Subject();
            @Html.EditorFor(x=>s1)
        }
    </div>

    <div class="col-4">
        <h3>College Form</h3>
        @*tilde ~*@
        <form action="~/Colleges/NewCollege" method="post" enctype="multipart/form-data" id="frmNewColelgeForm">
            <div class="row">
                <label class="col-4">College Name</label>
                <div class="col-8">
                    <input type="text" name="CollegeName" value="" class="form-control" />
                </div>
            </div>
            <div class="row">
                <label class="col-4">Address</label>
                <div class="col-8">
                    <input type="text" name="Address" value="" class="form-control" />
                </div>
            </div>
            <div class="row">
                <label class="col-4">Telephone</label>
                <div class="col-8">
                    <input type="text" name="Telephone" value="" class="form-control" />
                </div>
            </div>
            <div class="row">
                <label class="col-4"></label>
                <div class="col-8">
                    <button class="btn btn-success" type="submit">
                        Submit
                    </button>
                    <button class="btn btn-danger" type="button" id="btnAct1">
                        hide teacher Form
                    </button>
                    <button class="btn btn-danger" type="button" id="btnAct2">
                        Show teacher Form
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>

@section scripts
    {
    <script>

        $('#btnAc2').on('dblclick', function(e){
            $('#formToHide').slideDown(500); //with animation of 500 miliseconds

        });
        //event binding
        $('#btnAct1').on('mouseover', function (e) {
            //alert("ntn clicke");
            //object/element interaction
            $('#btnAct2').addClass('btn-warning').removeClass('btn-danger'); //with animation of 500 miliseconds

        });
        $('#btnAct1').on('click', function (e) {
            //alert("ntn clicke");
            $('#formToHide').hide(500); //with animation of 500 miliseconds 

        });
        $('#btnAct2').on('click', function (e) {
            //alert("ntn clicke");
            $('#formToHide').show(500);

        });
        $(document).ready(function () {
            $('#frmNewColelgeForm').on('submit', function (e) {

                //make some ajax call and submit data to it
                var fData = $(this).serialize();
                //get form data to fData Variable
                $.post('/Colleges/NewCollege', fData, function (res) {

                    alert(res);
                    console.log(res);

                    //again next action form clear garnu
                    //form refresh aany other action can be done
                    //this function will be called only after ajax request is completed and if it is success
                });


                //stops normal form submission using normal html process
                e.preventDefault();
                return false;
            });
        });
    </script>
                }